:root {
    --primary:#A5C882;
    --secondary:#D33F49;
    --light:#000;
    --diabled:#e7e7e7;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--diabled);
}

*:first-letter{
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}